.nav-principal-container {
  padding: 40px 20px 20px 20px;
  .nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    .logoEC-container {
      display: flex;
      margin-right: auto;
      position: absolute;
      z-index: 4;
      cursor: pointer;
      left: 10px;
      width: 90px;
      background-color: #e3e30c;
      padding: 7px;
      top: -13px;
      border-radius: 50%;
      font-family: "frankRuhl Medium";
      border-color: #b9b937;
      color: #fff;
      box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0#000;
      -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;

      .e {
        background: transparent;
        font-size: 52px;
        color: #000;
        margin-left: 9px;
      }
      .c {
        background: transparent;
        text-shadow: 3px 5px 2px #ece1e1;
        font-size: 47px;
        position: absolute;
        top: 25px;
        z-index: -1;
        right: 20px;
        color: #010101;
      }

      &:hover {
        box-shadow: 0 0 10px 0#b9b937 inset, 0 0 5px 2px #fff;
        .e {
          font-size: 53px;
        }

        .c {
          font-size: 48px;

          -webkit-text-stroke: 1px transparent;
        }
      }
    }
    .logoEC-container--light {
      background-color: #d962d784;
      border-color: #d962d784;
      color: #000;
      box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #fff;

      .e,
      .c {
        color: #fff;
        text-shadow: 3px 5px 2px transparent;
      }
      .c,
      .e:hover {
        text-shadow: 1px solid transparent;
        -webkit-text-stroke: 1px transparent;
      }

      &:hover {
        box-shadow: 0 0 10px 0#9a0f98c7 inset, 0 0 5px 2px #fff;
      }
    }

    .theme-button-container {
      position: absolute;
      background-color: transparent;
      right: 5px;
      top: 10px;
      cursor: pointer;
      .sun {
        color: #fff;
        font-size: 20px;
      }
      .sun:hover {
        color: #eeee0a;
        font-size: 21px;
      }

      .moon {
        color: #000000b6;
        font-size: 22px;
      }

      .moon:hover {
        font-size: 24px;
      }
    }

    .plus-button {
      color: #fff;
      width: 35px;
      height: 35px;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 1px 0px 11px 5px rgba(195, 188, 188, 0.75);

      margin: 0 auto;
      background-color: #000;

      i {
        font-size: 19px;
        color: #fff;
      }

      &--light {
        box-shadow: 1px 0px 11px 1px rgba(22, 21, 21, 0.75);

        background-color: #fff;

        i {
          color: #000;
        }
      }
    }

    .plus-button:hover {
      box-shadow: 1px 0px 11px 5px rgba(99, 96, 96, 0.75);
      background-color: #fff;
      i {
        font-size: 24px;
        color: #000000b0;
      }
    }
    .nav-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 40px;
      margin: 20px auto 10px auto;
      max-height: 0;
      overflow: hidden;
      transition: 0.5s all;

      gap: 15px;

      .email-button-container {
        display: none;
      }

      .nav-item {
        cursor: pointer;
        list-style: none;
        font-family: "frankRuhl regular";
        font-size: 18px;
        padding: 7px;
        border-bottom: 5px solid transparent;

        a {
          color: #fff;
        }

        &--light {
          a {
            color: #000;
          }
        }

        &--light:hover {
          border-bottom: 5px solid #d962d784 !important ;
        }
      }

      .nav-item:hover {
        border-bottom: 5px solid #d6d018;

        font-size: 20px;
      }

      &--active {
        max-height: 400px;
        transition: 1.5s all;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (min-width: 1024px) {
  .nav-principal-container {
    .nav-content {
      .theme-button-container {
        right: 5px;
        top: 50%;
        cursor: pointer;
        .sun {
          color: #fff;
          font-size: 22px;
        }
        .sun:hover {
          color: #b9b937;
          font-size: 23px;
        }

        .moon {
          color: #000;
          font-size: 24px;
        }

        .moon:hover {
          font-size: 25px;
        }
      }
      .plus-button {
        display: none;
      }
      .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        right: 20px;
        margin: 0;
        width: 100%;
        top: 0;
        padding: 50px 0;
        max-height: 100px;
        gap: 10px;
        .nav-item {
          border-bottom: 5px solid transparent;

          border-radius: 10px;
          font-size: 19px;

          &--light:hover {
            background-color: #d962d784 !important;
          }
        }

        .nav-item:hover {
          background-color: #eeee0a;
          border-bottom: 5px solid #8b8b2d;

          color: #000 !important;
          transform: rotate(8deg);
          a {
            color: #000;
          }
        }

        .email-button-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: auto;
          margin-left: 150px;
          padding: 10px;
          border-radius: 10px;
          cursor: pointer;
          background-color: transparent;
          color: #fff;
          i {
            margin-right: 10px;
            font-size: 21px;
          }
          .email-text {
            font-family: "frankRuhl regular";

            font-size: 21px;
          }

          &--light {
            i {
              color: #000;
            }
            .email-text {
              color: #000;
            }
          }

          &--light:hover {
            background-color: #d962d784 !important;
          }
        }

        .email-button-container:hover {
          background-color: #eeee0a;
          color: #000;
          transform: rotate(6deg);
          border-bottom: 5px solid #8b8b2d;
        }
        .email-button-container--light:hover {
          border-bottom: 5px solid #d962d784 !important;
        }
      }
    }
  }
}
