body {
  margin: 0;
  display: block;
  justify-content: center;
  overflow-x: hidden;

  // background-color: #f7f2f2;
  // padding: 60px 30px;

  .container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 17px -5px #363434;
    // background-color: transparent;
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    .container {
      flex-direction: row;
      overflow: hidden;
    }
  }
}

.appDark {
  background-image: url("./assets/images/backblac.avif");
  box-shadow: 1px 0px 5px 5px rgba(29, 28, 28, 0.456);
  color: #fff;
  max-width: 1200px;

  &--light {
    background-image: url("./assets/images/whiteBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }
}

@media (min-width: 1024px) {
  .appDark {
    width: 100%;
    max-width: 100%;
    // margin: 0 auto;

    // padding: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}
// FONTS //

//AVERIA //
@font-face {
  font-family: "averia libre";
  src: url(assets/fonts/averia.ttf) format("truetype");
}

// FRANK RUHL LIBRE //
@font-face {
  font-family: "frankRuhl light";
  src: url(assets/fonts/FrankRuhlLibre-Light.ttf) format("truetype");
}
@font-face {
  font-family: "frankRuhl regular";
  src: url(assets/fonts/FrankRuhlLibre-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "frankRuhl Medium";
  src: url(assets/fonts/FrankRuhlLibre-Medium.ttf) format("truetype");
}

// BEBAS NEUE //
@font-face {
  font-family: "Bebas Neue regular";
  src: url(assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "muli bold";
  src: url(assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}
